ul {
  list-style-type: none;
}
  .title{
     color: #fff;
     font-size: 50px;
     font-family: "Roboto"; 
     
     /*-webkit-animation: random 8s infinite;*/
     animation: random 10s infinite;
}
@keyframes  random {
	from {color: black;}
	25% {color: white;}
	50% {color: white;}
	to {color: black;}
}


.main-buttons{
	text-align:center;
	margin-top: 30px;
	margin-bottom: 20px;
}