@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

ul {
  list-style-type: none;
}
.test{
  color: #ffd480;
}
.title{
   color: #fff;
   font-size: 50px;
   font-family: "Roboto"; 
   /*-webkit-animation: random 8s infinite;*/
   animation: colorChange 10s infinite;
}

@keyframes  colorChange {
	from {color: black;}
	25% {color: grey;}
	50% {color: grey;}
	to {color: black;}
}


.main-buttons{
	text-align:center;
	margin-top: 30px;
	margin-bottom: 20px;
}

/*////////////  Transitions ////////////////*/
.tracks-enter {
  opacity: 0.01;
}

.tracks-enter.tracks-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.tracks-leave {
  opacity: 1;
}

.tracks-leave.tracks-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}