/* Player */


.no-height {
    height: 0 !important;
  }

.player-container {
  width: 400px;
  margin: 10px auto auto auto;
  overflow: hidden;
  background-color: #ffd480;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.artist-info-bpm-container {
  padding: 20px 35px 0 30px;
  width: 500px;
  display: flex;
  justify-content:left;
}

.artist-name,
.artist-song-name,
.bpm {
  margin: 0;
  width:170px;
}

.bpm{
  font-size:13px;
  margin-bottom: 5px;
}

.artist-name {
  margin-bottom: 5px;
  font-size: 23px;
  font-weight: 400;
}
.artist-song-name {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 400;
}

.mute-shuffle-repeat-container {
  display: flex;
  justify-content: center;
  padding: 40px 0 20px;
  width: 365px;
  margin: 0 auto;
}
.player-buttons {
  display: inline-flex;
  justify-content: right;
  align-items: right;
  width: 135px;
}
.player-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  outline: 0;
  transition: all .4s;
}
.player-btn i {
  font-size: 28px;
  margin: 0 auto;
  color: #ffff99;

}
.player-btn.active {
  color: black;
}
.player-btn.big {
  width: 60px;
  height: 60px;
}
.player-btn.big i {
  font-size: 36px;
}
.player-btn.medium {
  width: 50px;
  height: 50px;
}
.player-btn.medium i {
  font-size: 15px;
}
.player-btn.volume {
  width: 40px;
}
.player-btn.disabled {
  opacity: .2;
}
.player-btn-container {
  width: 180px;
  padding-left: 100px;
}
.player-btn-container .player-btn {
  background-color: #99ffff;
}
