{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #46546b;
  background-image: radial-gradient(circle, #fff, #d2d5d6);
  /*background-image:  url("./images/note.png");*/
  /*background-position: 25% 75%;*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
}
.container > h1 {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.container > h2 {
  font-size: 15px;
  text-align: center;
}
.container > h2 a {
  text-decoration: none;
  color: #000;
}
.container .footer {
    margin-top: 100px;
  text-align: center;
}
